.movies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

@media screen and (max-width: 767px) {
    .movies {
        grid-template-columns: repeat(1, 1fr);
    }
}