article {
    height: 100vh;
    width: 100vw;
    background-repeat:no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background-size: contain; */
    text-align: left;

}

.details {
    background-color: hsla(89, 0%, 50%, 0.48);
    color: white;
    max-width: 100%;
    padding: 5px 10px;
    padding-bottom: 50px;
}

button {
    position: absolute;
    top: 40px;
    right: 10px;
    width: fit-content;
}